<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Booking Makeup</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="#">
            💄 Booking Makeup
        </a>

        <div>

            <a class="btn btn-outline-light me-2">
                Đăng nhập
            </a>

            <a class="btn btn-warning">
                Đăng ký
            </a>

        </div>

    </div>
</nav>

<section class="py-5 bg-light">

    <div class="container text-center">

        <h1 class="display-4">
            Đặt lịch Makeup Chuyên Nghiệp Ngay hoom nay
        </h1>

        <p class="lead">

            Đặt lịch nhanh chóng với các Makeup Artist uy tín.

        </p>

        <button class="btn btn-danger btn-lg">
            Đặt lịch ngay
        </button>

    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>