<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">

    <thead>

    <tr>

        <th>Dịch vụ</th>
        <th>Ngày</th>
        <th>Giờ</th>
        <th>Trạng thái</th>
        <th>Thao tác</th>
    </tr>

    </thead>

    <tbody>

    <<tr th:each="booking : ${bookings}">

    <td th:text="${booking.service.serviceName}"></td>

    <td th:text="${booking.bookingDate}"></td>

    <td th:text="${booking.bookingTime}"></td>

    <td th:text="${booking.status}"></td>

    <td>

        <a th:if="${booking.status == 'Pending'}"
           th:href="@{/booking/cancel/{id}(id=${booking.id})}"
           class="btn btn-danger btn-sm"
           onclick="return confirm('Bạn có chắc muốn hủy lịch?')">

            Hủy

        </a>

    </td>

</tr>

    </tbody>

</table>
</body>
</html>